.home-background {
  background-image: url("./assets/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  width: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
}
.app {
  height: 100% !important;
}
.navbar-custom {
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .navbar-custom {
    align-items: flex-end;
  }
}
.navbar {
  background-color: #06b3bc;
}
.heading {
  color: #b2b2b2;
  margin: 8% auto;
  text-align: center;
}
.search-bar {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.profile-img {
  border-radius: 500px;
  height: 9rem;
  width: 9rem;
  margin: 0 auto;
  display: block;
}
.heading-text {
  color: #b2b2b2;
  width: 70%;
  margin: 5% auto;
  text-align: center;
  font-size: 0.5rem;
}
.contact-card {
  line-height: 1.5;
}
.loadingLogo {
  display: block;
  margin: 8% auto;
  height: 20rem;
  width: 20rem;
}
.about-page {
  color: #3c4048;
}
.card {
  background-color: #eaeaea;
}
.row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}
.card-img {
  height: 10.5rem;
  width: 9rem;
  border-radius: 15px;
  align-self: center;
}
.song-info {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  /* max-width: 70% !important; */
}
.lyrics-section {
  background-color: #eaeaea;
  max-width: 70%;
  margin: 2rem auto;
  border-radius: 1rem;
  white-space: pre-wrap;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}
.lyrics-section p {
  padding: 0.5rem;
  text-align: center;
}
.no-result {
  color: #b2b2b2;
  text-align: center;
  margin-top: 10%;
}
.footer {
  background-color: #06b3bc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  margin-top: auto;
}
/* .footer-pin {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0%;
}
.content {
  min-height: calc(100vh - 3.5rem);
} */
