.home-background {
  background-image: url("./assets/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.navbar-custom {
  margin-left: 26rem;
}
.navbar {
  background-color: #06b3bc;
}
.heading {
  color: #b2b2b2;
  top: 10rem;
}
.search-bar {
  width: 30rem;
  top: 13rem;
  margin: 0 auto;
  position: relative;
}
.profile-img {
  border-radius: 500px;
  height: 9rem;
  width: 9rem;
  margin: 0 auto;
  display: block;
}
.heading-text {
  color: #b2b2b2;
  width: 70%;
  margin: 5% auto;
  text-align: center;
  font-size: 0.5rem;
}
.contact-card {
  line-height: 1.5;
}
.about-page {
  color: #3c4048;
}
.card {
  background-color: #eaeaea;
}
